{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block register-content %}
    <header>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{message.tags }}">
                        {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </header>
    <div class="container">
        <form method="POST" name="register_form" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                    <legend class="border-bottom nb-4">Delete Post</legend>
                    <h2>Are You Sure You Want To Delete The Post</h2>
                    {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Yes</button>
                <a class="btn btn-outline-secondary" href="{% url 'post-detail' object.id %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock %}
