{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block register-content %}
    <header>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{message.tags }}">
                        {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </header>
    <div class="container">
        <form method="POST" name="register_form">
            {% csrf_token %}
            <fieldset class="form-group">
                    <legend class="border-bottom nb-4">Reset Password</legend>
                    {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Request Password Reset</button>
            </div>
        </form>
    </div>
{% endblock %}
